HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/client/.env.devlopment
!**/src/main/client/.env.production


**/node_modules/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/.DS_Store
.DS_Store
courseflow/.DS_Store
courseflow/courseflow/.DS_Store
courseflow/courseflow/src/.DS_Store
courseflow/courseflow/src/main/.DS_Store
courseflow/courseflow/src/main/client/.DS_Store
courseflow/courseflow/src/main/resources/static/assets/index-CeUK6Dva 2.js
courseflow/courseflow/src/main/resources/static/assets/index-D8b4DHJx 2.css
courseflow/courseflow/src/main/resources/static/assets/react-CHdo91hT 2.svg
src/main/client/package-lock.json
src/main/resources/static/index.html
src/.DS_Store

## VITE ##
/src/main/resources/static/assets/
/src/main/resources/static/*.js
/src/main/resources/static/*.css

## OTHER ##
/src/main/resources/static/index.html
